accelerate
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
ctransformers
dataclasses-json
distro
faiss-cpu
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
httpcore
httpx
huggingface
huggingface-hub
idna
importlib-metadata
langchain
langchain-community
langchain-huggingface
langchain-groq
mypy-extensions
networkx
nltk
numpy
openai
packaging
pandas
Pillow
protobuf
psutil
py-cpuinfo
pyarrow
pydantic
pydantic_core
pydeck
Pygments
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smmap
sniffio
SQLAlchemy
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
toolz
torchvision
tornado
tqdm
transformers
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
yarl
zipp