# # accelerate
# # aiohttp
# # aiosignal
# # altair
# # annotated-types
# # anyio
# # attrs
# # blinker
# # cachetools
# # certifi
# # charset-normalizer
# # click
# # colorama
# # ctransformers
# # dataclasses-json
# # distro
# # faiss-cpu
# # filelock
# # frozenlist
# # fsspec
# # gitdb
# # GitPython
# # greenlet
# # h11
# # httpcore
# # httpx
# # huggingface
# # huggingface-hub
# # idna
# # importlib-metadata
# # langchain
# # langchain-community
# # langchain-huggingface
# # langchain-groq
# # mypy-extensions
# # networkx
# # nltk
# # numpy
# # openai
# # packaging
# # pandas
# # Pillow
# # protobuf
# # psutil
# # py-cpuinfo
# # pydantic
# # pydantic_core
# # pydeck
# # Pygments
# # PyPDF2
# # python-dateutil
# # python-dotenv
# # pytz
# # PyYAML
# # referencing
# # regex
# # requests
# # rich
# # rpds-py
# # safetensors
# # scikit-learn
# # scipy
# # sentence-transformers
# # sentencepiece
# # six
# # smmap
# # sniffio
# # SQLAlchemy
# # streamlit
# # sympy
# # tenacity
# # threadpoolctl
# # tokenizers
# # toml
# # toolz
# # torchvision
# # tornado
# # tqdm
# # transformers
# # typing-inspect
# # typing_extensions
# # tzdata
# # tzlocal
# # urllib3
# # validators
# # watchdog
# # yarl
# # zipp

# accelerate
# aiohappyeyeballs
# aiohttp
# aiosignal
# altair
# annotated-types
# anyio
# async-timeout
# attrs
# blinker
# cachetools
# certifi
# charset-normalizer
# click
# colorama
# ctransformers
# dataclasses-json
# distro
# exceptiongroup
# faiss-cpu
# filelock
# frozenlist
# fsspec
# gitdb
# GitPython
# greenlet
# groq
# h11
# httpcore
# httpx
# huggingface
# huggingface-hub
# idna
# importlib_metadata
# Jinja2
# jiter
# joblib
# jsonpatch
# jsonpointer
# jsonschema
# jsonschema-specifications
# langchain
# langchain-community
# langchain-core
# langchain-huggingface
# langchain-groq
# langchain-text-splitters
# langsmith
# markdown-it-py
# MarkupSafe
# marshmallow
# mdurl
# mpmath
# multidict
# mypy_extensions
# narwhals
# networkx
# nltk
# numpy
# openai
# orjson
# packaging
# pandas
# pillow
# propcache
# protobuf
# psutil
# py-cpuinfo
# pyarrow
# pydantic
# pydantic_core
# pydeck
# Pygments
# pypdf
# PyPDF2
# python-dateutil
# python-dotenv
# pytz
# PyYAML
# referencing
# regex
# requests
# requests-toolbelt
# rich
# rpds-py
# safetensors
# scikit-learn
# scipy
# sentence-transformers
# sentencepiece
# six
# smmap
# sniffio
# SQLAlchemy
# streamlit
# sympy
# tenacity
# threadpoolctl
# tokenizers
# toml
# toolz
# torch
# torchvision
# tornado
# tqdm
# transformers
# typing-inspect
# typing-inspection
# typing_extensions
# tzdata
# tzlocal
# urllib3
# validators
# watchdog
# yarl
# zipp
# zstandard

accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
ctransformers
dataclasses-json
distro
exceptiongroup
faiss-cpu
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
groq
h11
httpcore
httpx
httpx-sse
huggingface
huggingface-hub
idna
importlib_metadata
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy_extensions
narwhals
networkx
nltk
numpy
openai
orjson
ormsgpack
packaging
pandas
pillow
propcache
protobuf
psutil
py-cpuinfo
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pypdf
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smmap
sniffio
SQLAlchemy
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
xxhash
yarl
zipp
zstandard

